BIA_HW/.vs/BIA_HW/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
BIA_HW/.vs/BIA_HW/CopilotIndices/17.14.1584.41681/CodeChunks.db
BIA_HW/.vs/BIA_HW/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
BIA_HW/.vs/BIA_HW/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
BIA_HW/.vs/BIA_HW/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
BIA_HW/.vs/BIA_HW/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
BIA_HW/.vs/BIA_HW/FileContentIndex/08d75af5-f310-4cb6-a1e1-6fd9ba2c952d.vsidx
BIA_HW/.vs/slnx.sqlite
BIA_HW/.vs/BIA_HW/FileContentIndex/30b18348-ee07-4e90-af0b-96d8d97b0671.vsidx
